.header {
    color: white;
    padding: 20px;
    background-color: rgb(78, 78, 220);
}

.header a {
    font-size: x-large;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 5px;
}

.header a:hover {
    color: black;
}

.header img {
    margin-right: 10px;
    color: white;
    height: 40px;
    width: 40px;
}

/* @media only screen and (min-width:577px) and (min-width:992px) {
    .menu {
        display: none;
    }
}


@media only screen and (max-width:576px) {} */